/**
 * #.# Styles for Ghost Button Block.
 *
 * CSS for both Editor + FrontEnd
 */

.wp-block-button,
.wp-block-dgb-ghost-button {
	.wp-dgb-button {
		&.dgb-ghost-button {
			background-color: transparent;
			border: 2px solid #2091e1;
			color: #2091e1;

			&:hover {
				opacity: .85;
				box-shadow: none !important;
				color: #2091e1;
			}
		}
	}
}

.dgb-ghost-button {
	margin: 10px 0;

	&.dgb-button-right {
		text-align: right;
	}

	&.dgb-button-center {
		text-align: center;
	}

	&.dgb-button-left {
		text-align: left;
	}
}
