/**
 * Styles for PullQuote Block.
 *
 * CSS for both Editor + Frontend.
 */
blockquote {
	&.dgb-pullquote {
		border-top: 6px solid #2091e1;
		border-bottom: 6px solid #2091e1;
		border-left: none !important;
		border-right: none !important;
		text-align: center;
		padding: 1.5rem;
		margin: 1rem 0;
		opacity: .6;
		color: #2091e1;
		font-size: 1.5em;
		font-style: normal;

		p {
			margin: 0;
			text-align: center;
		}

		&,
		p {

			&:after,
			&:before {
				display: none;
			}
		}
	}
}
