/**
 * Styles for Our Team Block.
 *
 * CSS for both Editor + Frontend.
 */
.dgb-team-member {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0;

	.team-member-image {
		width: 150px;
		height: 150px;
		background-size: cover;
		background-position: center;
		margin: 0 auto 1.5rem;
	}

	&.image-circle {
		.team-member-image {
			border-radius: 100%;
		}
	}

	>div {
		text-align: center;
		margin: 15px;
		min-width: 250px;

		h4 {
			margin: 0 0 5px !important;
			padding-top: 0;
			font-weight: normal;
			font-size: 1.5rem;
		}

		p {
			text-align: center;
		}

		.dgb-team-member-position {
			margin: 0 0 10px;
			font-size: 14px;
			letter-spacing: 1px;
		}

		.dgb-team-member-description,
		.dgb-team-member-description-two,
		.dgb-team-member-description-three {
			opacity: .8;
			margin: 0 0 1rem;
		}
	}

	&.column-1 {

		.dgb-team-member-column-two,
		.dgb-team-member-column-three {
			display: none;
		}
	}

	&.column-2 {
		.dgb-team-member-column-three {
			display: none;
		}
	}

}
